/*
* Footer Styles
*/

footer
  padding: 1rem
  background-color: $color__background-footer
  text-align: center;
  color #fff
  font-size: 0.9em

  a
    color: $color__text-footer
    text-decoration: none

    &:hover
      color: $color__brand-6