/*
* Header Styles
*/

.app-header
  background-color: $color__background-header
  padding: 10px

.app-title
  text-transform: uppercase

.header-address
  padding-bottom: 1em

@media only screen and (min-width: 900px)
  .app-title
    font-size: 3.2em
