/*
* Location Styles
*/

.location
  margin-top: 2rem
  padding: 1rem
  background-color: $color__brand-4
  color: #ffffff

  h2
    font-size: 1.3em

  .coordinates
    display: flex
    justify-content: center
    align-items: center
    margin-top: 1rem

    span
      margin: 0 1rem

  .disclaimer
    font-size: .8em
    font-style: italic
    margin: 1.2rem 0
