/*
* Location Styles
*/

.location
  margin-top: 2em

  h2
    font-size: 1.2em

  .disclaimer
    font-size: .8em
    font-style: italic

  .coordinates
    margin-top: 1em

    span
      margin: 0 1em
