/*
* Social Styles
*/

.social
  display: flex
  justify-content: space-around
  align-items: center
  max-width: 200px
  margin: 3rem auto

  a
    &:hover
      filter: contrast(5);

  img
    width: 35px
