/*
* Variables
*/

$color__brand-1 = #6cdfdc
$color__brand-2 = #aaf2f4
$color__brand-3 = #5f675c
$color__brand-4 = #1a9c15
$color__brand-6 = #ffff00

$color__background =  $color__brand-3
$color__background-content =  $color__brand-1
$color__background-header =  $color__brand-2
$color__background-footer =  $color__brand-3

$color__text =  #222
$color__text-footer =  #FEFFFF
$color__text-hover =  #FEFFFF
