/*
* Variables
*/

// #aaf2f4
// #6cdfdc
// #1a9c15
// #197632
// #5f675c

// #3AAFA9
// #2B7A78
// #17252A
// #DEF2F1
// #FEFFFF


$color__brand-1 = #aaf2f4
$color__brand-2 = #6cdfdc
$color__brand-3 = #5f675c
$color__brand-4 = #1a9c15
$color__brand-5 = #197632
$color__brand-6 = #ffff00

$color__background =  $color__brand-1
$color__background-header =  $color__brand-2
$color__background-footer =  $color__brand-3

$color__text =  #222
$color__text-alt =  $color__brand-3
$color__text-footer =  #FEFFFF
$color__text-hover =  #FEFFFF
