/*
* Weather Styles
*/

.weather-icon
  margin-top: -3em

  img
    width: 300px;

.conditions
  margin-top: -5em

  button
    background-color: $color__brand-3
    color: #fff
    width: 100%
    padding: .625rem
    font-size: 1.2rem
    margin-bottom: 1.25rem
    cursor: pointer
    border: none

    &:hover
      background-color $color__brand-4
      color: $color__text-hover!important

.degrees
  margin-bottom: 1rem
  font-weight: 600

  span
    font-size: 5rem

  img
    width: 25px
    padding-left: 30px

.weather-description
  margin-bottom: 1.5rem
  font-size: 1.4rem

  .desc, .humidity
    margin: 0 1rem
    display: block

    @media only screen and (min-width: 500px)
      display: inline

@media only screen and (min-width: 760px)
  .button-wrapper
    display: flex

  button
    margin: 1rem
    width: 175px