/*
* App Styles
*/

// #aaf2f4
// #6cdfdc
// #1a9c15
// #197632
// #5f675c

// #3AAFA9
// #2B7A78
// #17252A
// #DEF2F1
// #FEFFFF


$color__brand-1 = #aaf2f4
$color__brand-2 = #6cdfdc
$color__brand-3 = #5f675c
$color__brand-4 = #1a9c15
$color__brand-5 = #197632
$color__brand-6 = #ffff00

$color__background =  $color__brand-1
$color__background-header =  $color__brand-2
$color__background-footer =  $color__brand-3

$color__text =  #222
$color__text-alt =  $color__brand-3
$color__text-footer =  #FEFFFF
$color__text-hover =  #FEFFFF

html
  height: 100%

body
  background-color: $color__background
  color: $color__text
  letter-spacing: 1px
  min-height: 100%
  font-size: 16px

h1, h2, h3
  font-weight: normal

.weather-app
  display: relative
  text-align: center
  font-family: 'Open Sans', sans-serif

.app-logo
  animation: app-logo-spin infinite 20s linear
  height: 80px

.app-header
  background-color: $color__background-header
  padding: 20px
  font-family: 'Open Sans', sans-serif


.app-title
  text-transform: uppercase
  font-size: 3.2em

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-spinner
  margin-top: 20vh

.header-address
  padding-bottom: 1em

.container
  max-width: 900px
  margin: 0 auto

.weather-icon
  img
    width: 300px;

.conditions
  margin-top: -4em

  button
    margin: 0 1em
    cursor: pointer
    background-color: $color__brand-3
    border: none
    color: #fff
    padding: .25em 1em
    font-size: 1.5em

    &:hover
      background-color $color__brand-4
      color: $color__text-hover!important

.degrees
  margin: 0 0 1rem 0

  span
    font-size: 5em

  img
    width: 25px
    margin-left: 20px


.weather-description
  margin-bottom: 2em
  font-size: 1.4em

  .desc, .humidity
    margin: 1em


.sunrise-sunset
  margin-top: 2em
  font-size: 1.2em;
  position relative

  span
    margin 0 1em

  .sunrise
    &:before
      content: ""
      background-image: url("https://localhost:3000//imgs/sunrise.svg")
      background-repeat: no-repeat
      width 50px
      height 50px
      position: absolute;
      top: 0px;
      left 50%


.location
  margin-top: 2em

  h2
    font-size: 1.2em

  .disclaimer
    font-size: .8em
    // margin-top: 7px
    font-style: italic

  .coordinates
    margin-top: 1em

    span
      margin: 0 1em

.look-at-me
  margin-top: 2em

.built-with
  display: flex
  justify-content: center
  align-items: center

  a
    &:hover
      color #000

  img
    width: 80px

.repo
  margin-top: 1em

  a
    color inherit

    &:hover
      color: $color__brand-6

.social
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 200px
  margin: 2em auto

  a
    &:hover
      filter: contrast(5);

  img
    width: 50px

footer
  position: fixed
  width: 100%
  right: 0
  bottom: 0
  left: 0
  padding: 1rem
  background-color: $color__background-footer
  text-align: center;
  color #fff

  a
    color: $color__text-footer
    text-decoration: none

    &:hover
      color: $color__brand-1